.buildpath
.directory
.idea
.project
.settings
.DS_Store
nbproject

/composer
**/composer.phar
**/composer.lock
/.gitmodules
**/install.php

**/.ht*
**/configuration.*
**/local.*
**/*.details*
**/*.local.*
**/*.bz?
**/*.flag
**/*.gz
**/*.sql
**/*.tar
**/*.zip
**/*_aside

!**/*.dist
!**/*.model
!**/*.template
