.buildpath
.directory
.idea
.project
.settings
.DS_Store?
nbproject

**/.ht*
**/composer.*
**/configuration.*
**/install.*
**/local.*
**/setup.*
**/*.details*
**/*.local.*
**/*.bz?
**/*.flag
**/*.gz
**/*.json
**/*.log
**/*.sql
**/*.swp
**/*.tar
**/*.zip
**/*_aside

!**/*.dist
!**/*.model
!**/*.sample
!**/*.template

/archive/
/composer
/vendor/

!/composer.json
